/*create the layout of the website*/
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    line-height: 1.5;
    font-size: 15px;
}
/*create the tone of site*/
.flex {
    display: flex;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f7f7ff;
}
.scooter {
    grid-column: 4/span 6;
    grid-row: 1;
    padding: 2em;
}
/*make space for each line*/

main {
    margin: 0 2.5em;
}

/*design footer display and color*/
footer {
    background-color: #fffd8c;
}

div.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7em 8em;
}

h1 {
    font-size: 4rem;
}

.subtitle span {
    display: block;
    padding: 1em 0 0;
}

@media (min-width::1200px) {
    .wrapper {
        padding: 0;
        position: relative;
        height: 70vh;
    }
    header {
        width: 100%;
        max-width: 170px;
        margin: 0 auto;
        padding: 0.7em 0;
    }
    main {
        margin: 0 8.75em;
        display: grid;
        grid-template-rows: minmax(400px,480px);
        grid-template-columns: repeat(12, 1fr);
    }
    main form {
        grid-column: 9/span 12;
        grid-row: 1;
        margin: 0;
        height: fit-content;
    }
    main div {
        grid-column: 1/span 4;
    }
}
@media (min-width:1600px){

    h1 {
        font-size: 4rem;
    }
footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    margin: 0.5em;
}

.flex {
    display: flex;
}

.scooter {
    grid-column: 4/span 6;
    grid-row: 1;
    padding: 2em;
}

/*main form section*/
main form {
    background-color: white;
    border-radius: 1em;
    padding: 1.5em;
    box-shadow: 5px 10px 15px 0px rgba(51,49,49,0.4);
    margin: 2.5em 0;
}

fieldset div {
    position: relative;
}

fieldset label {
    position: absolute;
    top: 1.5em;
    left:1em;
    font-size: 1em;
    color: #9b9b9b;
}

input[type="submit"],
footer input[type="submit"] {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0.5em 0;
    width: 100%;
    background-color: #57eeab;
    padding: 0.5em;
    height: auto;
    min-height: 40px;
}

input#hours {
    flex-grow:1;
}

input#city {
    flex-grow: 2;
    margin: 0 0 0 0.5em;
}
input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select:none ;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: 0.3s all ease-in;
}
input[type="checkbox"]:checked+label:before {
    content: '';
    display: block;
width: 20px;
height: 20px;
border: 1px solid black;
border-radius: 0.4em;
position: absolute;
left: 0;
top: 0;
opacity: 1;
-webkit-transition: all .12s, border-color .08s;}


input[type="checkbox"]:checked+label {
    color: green;
}

main input#terms {
    padding:0;
    color: green;
}

main input#terms {
    padding: 0;
    height: auto;
    border-radius: 0.5em;
    border: 1px solid #333131;
    background-color: white;
}
}

/*adjusting text size*/
h1 {
    font-size: 3.5em;
    margin: 0 0 0.5em;
}

h2 {
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
}

h1,
h2 {
    font-weight: 600;
}

footer p {
    font-size: 1em;
    margin: 0 0 0.625em 0;
}

form p {
    font-size: 0.8em;
    text-align: center;
}

form p a{
    color: #ff8480;
    text-decoration: none;
}

form p a:visited,
form p a:hover {
    color: #ca3c37;
    text-decoration: underline;
    transition: 0.3s all ease;
}

form legend span {
    display: none;
}

.subtitle span {
    display: none;
}

footer h3 {
    font-size: 1.125em;
    font-weight: 800;
    line-height: 1;
    max-width: 90%;
    margin-bottom: 0.5em;
}
/*tablet view*/

@media (min-width: 768px) {
    footer form {
        display: flex;
    }
    footer input[type="submit"] {
        margin: 0 0 0 0.5em;
        width: 100%;
    }

    form legend span {
        display: initial;
    }
    .scooter { 
        padding: 0 2em;
    }
}

@media screen and (min-width:1200px) and (max-height:900px) {
    h2 {
        font-size: 2em;
        margin: 0;
    }
    form legend {
        padding: 0.5em 0;
        font-size: 1em;
    }
    main form {
        padding: 1.2em;
    }
    input[type="submit"] {
        height: 40px;
        line-height: 0;
    }
    footer li {
        margin: 0 0 0 2em;
    }

    form legend {
        font-size: 1.5em;
    }
    main {
        grid-template-rows: minmax(400px, 580px);
    }

    main input, form input {
        font-size: 1.1em;
    }
}
@media (min-width:1920px) {
    header, main, 
    div.footer-wrapper {
        width: 100%;
        max-width: 570px;
        margin: 0 auto;
        padding: 0.7em 0;
    }
}
    .wrapper {
        padding: 0;
        position: relative;
        height: 100vh;
    }
    header { 
        padding: 1em 0.75em;
    }
    main {
        margin: 0 8.75em;
        display: grid;
        grid-template-rows: minmax(400px, 480px);
        grid-template-columns: repeat(12, 1fr);
    }
    main form {
        grid-column: 9/span 12;
        grid-row: 1;
        margin: 0;
        height: fit-content;
    }
    main div {
        grid-column: 1/span 4;
    }
}

